USE [master]
GO
/****** Object:  Database [FU]    Script Date: 7/14/2020 7:21:26 PM ******/
CREATE DATABASE [FU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FU]
GO
USE [FU]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/14/2020 7:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](30) NULL,
	[Fullname] [nvarchar](50) NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 7/14/2020 7:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Title] [nvarchar](30) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/14/2020 7:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/14/2020 7:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CusName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/14/2020 7:21:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Username], [Password], [Fullname], [IsAdmin]) VALUES (N'a', N'123456', N'Dai', 1)
INSERT [dbo].[Account] ([Username], [Password], [Fullname], [IsAdmin]) VALUES (N't', N'123456', N'Thang', 0)
INSERT [dbo].[Account] ([Username], [Password], [Fullname], [IsAdmin]) VALUES (N'VanDai', N'123456', N'DAI', 1)
INSERT [dbo].[Cart] ([Title], [Quantity]) VALUES (N'Test', 12)
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([ID], [OrderID], [Title], [Quantity]) VALUES (1, 1, N'Container', 1)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [Title], [Quantity]) VALUES (2, 2, N'Container', 1)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [Title], [Quantity]) VALUES (3, 3, N'JDK', 1)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [CusName], [Address], [Phone]) VALUES (1, N'HoangVanDai', N'q9', 978649667)
INSERT [dbo].[Orders] ([ID], [CusName], [Address], [Phone]) VALUES (2, N'Thang', N'q9', 978649667)
INSERT [dbo].[Orders] ([ID], [CusName], [Address], [Phone]) VALUES (3, N'Thang', N'q8', 123456789)
SET IDENTITY_INSERT [dbo].[Orders] OFF
INSERT [dbo].[Products] ([ProductName]) VALUES (N'Container')
INSERT [dbo].[Products] ([ProductName]) VALUES (N'Java')
INSERT [dbo].[Products] ([ProductName]) VALUES (N'JDK')
USE [master]
GO
